@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'SF Pro Display';
    src: url('/path-to-your-font/SFProDisplay-Regular.woff2') format('woff2'),
         url('/path-to-your-font/SFProDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }